<html lang="en">
<% include partial/header.ejs %>
	 <head>
		<meta charset="UTF-8">
		<title>Connecting Hands - Contact Us</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<!-- <script src="js/skel-layers.min.js"></script> -->
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	<!-- </head> -->
	<body>
	<!-- Form -->
	<div class="container">
						<section>
              <br><div style="text-align: center">
              <img src="<%=img%>" alt="<%= child%>'sphoto">
            </div>
							<header class="major">
							<h2>Sponsor <a href="/children"><u><%= child%></u></a> </h2>
							<p>Your gift each week/month/year will bring hope and change to <%= child%>'s life.</p>
							</header>
							<!-- <h3>Contribute for Education and Living</h3> -->
							<form method="post" action="#">
								<h3>Personal Information</h3>
								<div class="row uniform 50%">
									<div class="6u 12u$(xsmall)" >
										<input type="text" name="name" id="name" value="" placeholder="Name*" />
									</div>
									<div class="6u$ 12u$(xsmall)">
										<input type="email" name="email" id="email" value="" placeholder="Email*" />
									</div class="6u$ 12u$(xsmall)">
									<div class="6u$ 12u$(xsmall)">
										<input type="text" name="phone" id="phone" value="" placeholder="Phone Number*" />
									</div class="6u$ 12u$(xsmall)"><br><br>
									<h3>Address</h3>
									<div class="12u$">
										<textarea name="street" id="street" placeholder="Street Address" rows="1"></textarea>
									</div>
									<div class="6u 12u$(xsmall)" >
										<input type="text" name="city" id="city" value="" placeholder="City" />
									</div>
									<div class="6u$ 12u$(xsmall)">
										<input type="email" name="state" id="state" value="" placeholder="State" />
									</div class="6u$ 12u$(xsmall)">

									<div class="12u$">
										<div class="select-wrapper">
											<select name="purpose" id="purpose">
												<option value="">- Country</option>
												<option value="1">United States</option>
												<option value="1">India</option>
												<option value="1">China</option>
												<option value="1">Germany</option>
												<option value="1">Australia</option>
											</select>
										</div>
									</div>
<br><br><h3>Sponsorship Information</h3>
									<div class="12u$">
										<div class="select-wrapper">
											<select name="purpose" id="purpose">
												<option value="">- 	Amount willing to sponsor</option>
												<option value="1">$ 15</option>
												<option value="1">$ 20</option>
												<option value="1">$ 25</option>
												<option value="1">$ 30</option>
												<option value="1">Other</option>
											</select>
										</div>
									</div>
									<!-- <div class="6u$ 12u$(small)">
										<input type="checkbox" id="human" name="human" checked>
										<label for="human">I am a human and not a robot</label>
									</div> -->
									<div class="12u$">
										<textarea name="message" id="message" placeholder="Write your custom amount here." rows="1"></textarea>
									</div>
									<div class="12u$">
										<div class="select-wrapper">
											<select name="purpose" id="purpose">
												<option value="">- Frequency of sponsorship</option>
												<option value="1">One Time Donation</option>
												<option value="1">Weekly</option>
												<option value="1">Monthly</option>
												<option value="1">Annually</option>
												<option value="1">Other</option>
											</select>
										</div>
									</div>
									<div class="6u 12u$(small)">
										<input type="checkbox" id="copy" name="copy">
										<label for="copy"> Donate anonymously</label>
									</div>

									<div class="12u$">
										<br>
										<ul class="actions">
											<li><input type="submit" value="Pay with PayPal" class="special" /></li>
											<li><input type="submit" value="Pay with Credit/Debit Card" class="special" /></li>
											<li><input type="submit" value="Pay with Online Transfer" class="special" /></li>

										</ul>
									</div>
								</div>
							</div>
							</form>
						</section>
						 <% include partial/footer.ejs %>
	</body>
</html>
