<!DOCTYPE html>

<!DOCTYPE html>
<!--
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
<% include partial/header.ejs %>
	<head>
		<meta charset="UTF-8">
		<title>Connection Hands - About Us</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		 <script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" /> -->
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Events</h2>
						<p>These are some of Past and Upcoming the Events of some Organizations </p>
					</header>


					<!-- Image -->
						<section>

							<p><span class="image left"><a href="https://www.miraclefoundation.org/" target="_blank" ><img src="images/pic09.jpg" alt="" /></a></span>
<h1 style="font-size:200%;">Kanya Pujan</h1></p>
<p> The girls at 'Miracle Foundation' celebrated 'Kanya Pujan'. Although Hinduism says that God resides in every child but young girls are specially believed to be a form of Goddess Durga. As Navratri reaches its 8th and 9th day, there is a ritual to worship young girls who are 3 to 9 years of age. This ritual is known as ‘Kanya Pujan’. People usually worship nine young girls representing the nine forms of Goddess Durga. Thus, these young girls are the symbol of most auspicious, most jagrat, and the most clear minded and clear souled individual.</p>
							<p><span class="image right"><a href="https://ashakiranfoundation.org/" target="_blank" ><img src="images/pic 10.jpg" alt="" /></a></span><h1 style="font-size:200%;">Chief Minister's Visit</h1></p>
<p>The Prime Minister of Orrisa visited the "Ashakiran Foundation" last month.At the time of his visit, he met every child and had a chat with them about their studies, their play-time games, and took notes of what are they missing out to fulfill them.He also brought various gifts and food for the children. The meet was very pleasant and after having a chat with him, he exclaimed that we should all do our part for the society we are living in and these children belong to whole nation and they are no more orphans.

</p>


							<div class="box alt">
								<div class="row 50% uniform">
		<div class="12u$"><span class="image fit"><a href="http://indianorphanage.com/" target="_blank" ><img src="images/pic 11.jpg" alt="" /></a></span></div>
		<div class="12u$"><span class="image fit"><a href="https://chlss.org/adoption/international-adoption/india/" target="_blank" ><img src="images/pic vf.jpg" alt="" /></a></span></div>
		<div class="6u"><span class="image fit"><a href="https://www.lyny.org/" target="_blank" ><img src="images/3.jpg" alt="" /></a></span></div>
		<div class="6u"><span class="image fit"><a href="http://www.vcare.org.in/" target="_blank" ><img src="images/2.jpg" alt="" /></a></span></div>
		<div class="6u"><span class="image fit"><a href="https://www.saraswatianathashram.org/" target="_blank" ><img src="images/4.jpg" alt="" /></a></span></div>
		<div class="6u"><span class="image fit"><a href="http://www.royalrosefoundation.org/" target="_blank" ><img src="images/5.jpg" alt="" /></a></span></div>


						</div>
							</div>

							</section>

				</div>
			</section>


	</body>
</html>
 <% include partial/footer.ejs %>
	</body>
</html>
