<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Connecting Hands</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
			<!-- <link rel="stylesheet" href="/assets/stylesheets/skel.css" />
			<link rel="stylesheet" href="/assets/stylesheets/style.css" />
			<link rel="stylesheet" href="/assets/stylesheets/style-xlarge.css" /> -->
			<link rel = "stylesheet" type = "text/css" href = "/assets/style.css"/>
			<link rel = "stylesheet" type = "text/css"	href = "/assets/skel.css"/>
			<link rel = "stylesheet" type = "text/css" href = "/assets/style-xlarge.css"/>
			<link rel = "stylesheet" type = "text/css" href = "/assets/style-xsmall.css"/>
			<link rel = "stylesheet" type = "text/css" href = "/assets/style-medium.css"/>
			<link rel = "stylesheet" type = "text/css" href = "/assets/style-large.css"/>
			<link rel = "stylesheet" type = "text/css" href = "/assets/style-small.css"/>

		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="/"><img src="images/heart-hands.png" alt="connecting hands logo" class="logo"></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About Us</a></li>
            <li><a href="/children">Children</a></li>
						<li><a href="/events">Events</a></li>
            <li><a href="/donate">Donate</a></li>
						<li><a href="/contact">Contact Us</a></li>
						 <li><a href="/maps">Locate Us</a></li>
						<li><a href="/login">LogIn</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Connecting Hands</h2>
				<p>Give a little. Change a lot.</p>
				<ul class="actions">
					<li>
						<a href="donate" class="button big">Donate</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 align-center">
				<div class="container">
					<header>
						<h2>There Are A Couple of Ways For You To Contribute To Our Cause</h2>
					</header>
					<div class="row 200%">
						<section class="4u 12u$(small)">
<img src="/images/mentor.png" alt="mentor logo" style="width:65%">
<h3 style="color:white">Mentorship</h3>
<p>Join our mentorship program to pair up with one of our children and contribute towards their personal growth. Help teach them a skill or share a hobby. </p>
						</section>
						<section class="4u 12u$(small)">
							<img src="/images/adopt.png" alt="adopt logo" style="width:65%">
							<h3 style="color:white">Adoption</h3>
							<p>We work with public and private adoption agencies/organizations to expand adoption opportunities for children in their custody.</p>
						</section>
						<section class="4u$ 12u$(small)">
							<img src="/images/donate.png" alt="sponsor logo" style="width:65%">
							<h3 style="color:white">Sponsorship</h3>
							<p>You can contribute to the living and education of a child on a regular basis. We also help collect donations for our partner organizations. Every single penny counts.</p>
						</section>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 align-center"
			<div style="background-color:white; overflow:hidden;">
				<div class="container">
				<!-- MENTOR -->
					<header>
				<h2>Mentor A Child</h2>
				</header>
				<p>"A mentor is someone who allows you to see the hope inside yourself."
~Oprah Winfrey
<br>
<br>
					‘Mentor A child’ program is a one-to-one community-based mentorship model, it is carefully tailored to the global context. We focus exclusively on mentoring orphan children through a one-to-one relationship within a community setting. This program provides extensive mentoring and support structure through intensive training and donator’s engagement, a month-long orientation, and quarterly group mentoring sessions.
				<br>
				<br>
You can help a child in various fields:	Sports, Education, Painting, Craft, Music, Dance, etc.
</p>
<ul class="actions">
	<li>
		<a href="/mentorform" class="button alt big">Join The Program</a>
	</li>
</ul>
<br><br>
</div>
</div>




<div class="sponsorinfo" style="background-color:#EDE7D9; overflow:hidden;">
				<div class="col-bg">
					<div class="container">
						<br>
						<br>
					<header>
				<h2>Sponsor A Child</h2>
				</header>
				<p>"Change the Life of a Child..."
					<br>
					Real community transformation begins by investing in children.The encouragement of a sponsor affirms that each child has been created in the image of God, has been named, and has a story worthy of being heard!
Through a range of programs, your sponsorship contributes to tuition assistance, school uniforms and shoes, school supplies, food support, spiritual guidance, community and school development, teacher training, and more.
With your support, sponsored children are launched to be agents of love and hope in their communities around the world.


<!-- Every child deserves a strong start – the best chance for a successful future. But too many children around the world aren’t getting the opportunity to reach their full potential. You can help change that. If you sponsor a child, then you’ll give them the gift of a brighter future. -->
</p>
<ul class="actions">
	<li>
		<a href="/children" class="button alt big">Meet The Children</a>
	</li>
	<li>
		<a href="/sponsorform" class="button alt big">Sponsor</a>
	</li>
</ul>
<br>
<br>
				</div>
				</div>
</div>


<div class="donateinfo" style="background-color:white; overflow:hidden;">
				<div class="container">
					<br>
					<br>
					<header>
				<h2>Donate to an Organization</h2>
				</header>
				<p>"A small charity has a big impact."
					<br>If you can donate money today, you’ll be helping children across the globe get a real family and grow up in a loving home instead of growing up alone. <br>
				No matter what amount you're able to give, every donation makes a difference! </p>
				<ul class="actions">
					<li>
						<a href="/donate" class="button alt big">Donate</a>
					</li>
				</ul>
				<br>
				<br>
				</div>
</div>


<div class="hostinfo" style="background-color:#e7e7e7; overflow:hidden;">
				<div class="col-bg">
					<div class="container">
						<br>
						<br>
					<header>
				<h2>Host An Event</h2>
				</header>
				Our goal is to bring hope to the children.
				<br><br>
				Organize your own event at our centers.
				<br>
					<p>
					It could be a small gathering, educational seminar, hosting a movie/documentary, live concerts, etc. Have fun.Be creative. And take action for a child.
					</p>

					<ul class="actions">
						<li>
							<a href="events" class="button alt big">Learn More</a>
						</li>
					</ul>
					<br>
					</div>
				</div>
</div>



				<div class="events" style="background-color:white; overflow:hidden;">
					<div class="container">
					<header>
						<br>
						<br>
						<h2>Past Events</h2>
						</header>
						<p>Our organization has helped host a bunch of fundraising events in partnership with our donors.</p>
					<div class="row">
						<section class="feature 6u 12u$(small)">
							<img class="image fit" src="images/marathon.jpg" alt="" />
							<h3 class="title">Run For Kids Lives</h3>
							<p>$1,838 RAISED in a fundraising marathon event hosted in Charlotte, NC on 12th January. Just like the competition of beating your PR in a marathon, competitive fundraising is a fun way to raise money for charity. With team fundraising on Connecting Hands, runners can compete to raise the most funds for a nonprofit.</p>
						</section>
						<section class="feature 6u$ 12u$(small)">
							<img class="image fit" src="images/alessia-cara-montreal-corona-pierrebourgault-2.jpg" alt="" />
							<h3 class="title">Concert Fundraiser</h3>
							<p>We held a benefit concert in Los Angeles, California on 22nd March this year, to help raise awareness about Thalessamia in collaboration with our partner organization-The Wishing Factory.</p>
						</section>
						<section class="feature 6u 12u$(small)">
							<img class="image fit" src="images/activity-ideas-when-volunteer-with-ivhq-mexico.jpg" alt="" />
							<h3 class="title">Arts & Crafts Workshop</h3>
							<p>Students from University of North Carolina at Charlotte volunteered to organize an arts & crafts workshop at our local center in Charlotte, NC on 29th March. </p>
						</section>
						<section class="feature 6u$ 12u$(small)">
							<img class="image fit" src="images/sc.png" alt="" />
							<h3 class="title">Donation Drive</h3>
							<p>C.R.Y. hosted a statewide donation drive in Texas. We managed to collect food, school supplies, clothing, money and etc. that will go towards the living and upbringing of poor kids in remote locations.</p>
						</section>
					</div>
						<ul class="actions">
							<li>
								<a href="events" class="button alt big">View More</a>
							</li>
						</ul>
				</div>
				</div>
				<!-- </div> -->
			</section>
 <% include partial/footer.ejs %>
	</body>
</html>
