<link rel = "stylesheet" type = "text/css" href = "/assets/style-medium.css"/>
<link rel = "stylesheet" type = "text/css" href = "/assets/style.css"/>

<footer id="footer">
  <div class="container">
    <div class="row">
      <section class="4u$ 12u$(medium) 12u$(small)">
        <h3>Contact Us</h3>
        
        <ul class="tabular">
          <li>
            <h3>Phone</h3>
            (707) 888-2121
          </li>
          <li>
            <h3>Mail</h3>
            <a href="#">info@connectinghands.org</a>
          </li>
          <li>
            <h3>Address</h3>
            1234 University Blvd<br>
            Charlotte, NC 28262
          </li>
        </ul>
      </section>
    </div>
    <ul class="copyright">
      <li>&copy; Cloud 6. All rights reserved.</li>
    </ul>
  </div>
</footer>
