<header id="header">
  <h1><a href="/"><img src="images/heart-hands.png" alt="connecting hands logo" class="logo"></a></h1>
  <nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/children">Children</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/contact">Contact Us</a></li>
          <li><a href="/maps">Locate Us</a></li>
        <li><a href="/login">Login</a></li>

    </ul>
  </nav>
</header>
